/*
|--------------------------------------------------------------------------
| UI
|--------------------------------------------------------------------------
|
*/

// Mixins
@import "tools/mixins";

// Layouts
// @import "layouts/main";
// @import "layouts/sidebar";

// Components
@import "components/site-header";
@import "components/top-nav";
@import "components/site-nav";
@import "components/site-logo";
@import "components/buttons";
@import "components/page-header";
@import "components/page-header";
@import "components/hero";
@import "components/search-box";
@import "components/cards";
@import "components/icons";
@import "components/forms";
@import "components/modal";
@import "components/activity-search";
@import "components/pips";
@import "components/advert";
@import "components/pullout";
@import "components/filter";
@import "components/search-item";
@import "components/pagination";
@import "components/place";
@import "components/reviews";
@import "components/tabs";
@import "components/social-media";
@import "components/map";
@import "components/cross-sell";
@import "components/rating";
@import "components/post";
@import "components/blog";
@import "components/tables";
@import "components/comments";
@import "components/askmum";
@import "components/generic";
@import "components/calendar";
@import "components/landing";
@import "components/nav-trigger";
@import "components/mobile-nav";
@import "components/footer";
@import "components/igloo";
@import "components/chevron";
@import "components/checkbox";
@import "components/close-button";

@import "components/user/user-filters";
@import "components/user/user-area";
@import "components/user/user-nav";
@import "components/user/user";
@import "components/user/activity-feed";
@import "components/user/planner";

    .fade-transition {
        transition: all 0.8s ease;
        overflow: hidden;
        visibility: visible;
        opacity: 1;
        position: absolute;
    }
    .fade-enter, .fade-leave {
        opacity: 0;
        visibility: hidden;
    }
