// =============================================================================
// Settings / #MARGINS & PADDINGS
// =============================================================================

$unit-l-l: 60px;
$unit-l-m: 45px;
$unit-l-s: 30px;
$unit-l-xs: 20px;

$unit-s-l: 40px;
$unit-s-m: 20px;
$unit-s-s: 20px;
$unit-s-xs: 15px;
