.user-area {
    height: 100%;
    display: flex;

    &__sidebar {
        height: inherit;
        flex: 0 0 auto;
        background-color: #ffffff;
        display: block;
        padding: 20px 0;
        z-index: 20;
        width: 220px;
        height: 100vh;
        position: fixed;
        transform: translate(0);

        @include mq(large) {
            position: relative;
            transform: none;
        }

        &.is-minimised {
            transform: translate(-100%);

            @include mq(large) {
                width: 80px;
                transform: none;
            }
        }

        .sidebar {
            &__header {
                width: 100%;
                padding: 0 10px;
                display: flex;
                justify-content: flex-end;
            }

            &__toggle {
                display: inline-block;
                position: relative;
                overflow: hidden;
                margin: 0;
                padding: 0;
                width: 26px;
                height: 26px;
                font-size: 0;
                text-indent: -9999px;
                appearance: none;
                box-shadow: none;
                border-radius: none;
                border: none;
                cursor: pointer;
                background: 0 0;
                outline: 0!important;
                transition: all .4s ease;
                right: -47px;

                @include mq(large) {
                    right: 0;
                }

                &:hover {

                    span {
                        background: color(primary);

                        &:before,
                        &:after {
                            width: 100%;
                            background: color(primary);
                        }
                    }
                }

                span {
                    display: block;
                    position: absolute;
                    top: 13px;
                    height: 3px;
                    min-height: 3px;
                    width: 100%;
                    border-radius: 0;
                    transition: width .4s ease;
                    background: #5d5f77;

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        left: 0;
                        width: 100%;
                        height: inherit;
                        min-height: inherit;
                        border-radius: 0;
                        transition: width .4s ease;
                        background: inherit;
                    }

                    &:before {
                        transition: width .4s ease;
                        left: auto;
                        right: 0;
                        width: 50%;
                        top: -7px;
                    }

                    &:after {
                        transition: all .4s ease;
                        left: auto;
                        right: 0;
                        width: 75%;
                        bottom: -7px;
                    }
                }
            }
        }
    }

    &__container {
        height: inherit;
        flex: 1 auto;
        background-color: #f5f5f5;
        margin-top: 70px;
        border-left: 1px solid #ddd;

        @include mq(large) {
            margin-top: 0;
        }
    }

    &__content-wrap {
        height: inherit;
        min-height: 100vh;
    }

    &__content {
        // overflow-y: scroll;
        height: 100%;
        margin-top: 0;
        // margin-top: 112px;
        color: #ffffff;
        position: relative;
        // top: -77px;

        &.header-scrolling {
            margin-top: 52px;
        }
    }

    &__header {
        font-size: 20px;
        font-weight: 800;
        padding: 20px;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        justify-content: space-between;

        @include mq(large) {
            position: relative;
        }

        .header__title {
            margin-left: auto;

            @include mq(large) {
                margin-left: 0;
            }
        }

        .header__user {
            cursor: pointer;
            font-weight: 800;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                color: color(primary);

                .user__name {
                    color: color(primary);
                }
            }

            .chevron {
                display: flex;
            }
        }
    }
}

.sidebar__toggle {

    .is-minimised & {
        span {
            background: color(primary);

            &:before,
            &:after {
                width: 100%;
                background: color(primary);
            }
        }
    }
}

.back__text {
    font-weight: 800;
    display: inline-block;
    padding: 10px;

    .chevron {
        position: relative;
        top: -1px;
    }
}
